brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click
cryptography 
Flask 
Flask-SQLAlchemy 
gunicorn==20.0.4
idna
itsdangerous
Jinja2 
lxml 
MarkupSafe 
numpy 
pandas 
pandas-datareader 
pycparser 
pyOpenSSL 
PySocks 
python-dateutil 
pytz 
requests 
six 
SQLAlchemy 
urllib3 
Werkzeug 
win-inet-pton
wincertstore==0.2
mkl-fft==1.0.6
mkl-service==1
